<section id="form">
	<h2>Add Project</h2>
	<form>
		<label>Project Name: <input type="text" name="name" ng-model="newProject.name"></label>
		<label>Finish Date: <input type="date" name="date" ng-model="newProject.date"></label>
		<label>Description: <textarea type="text" name="description" ng-model="newProject.description"></textarea></label>
		<button ng-click="addNewProject()">Add</button>
	</form>
</section>
<section id="projects">
	<article ng-repeat="project in projects track by $index">
		<h3>{{project.name}}</h3>
		<p>{{project.date | date : "MM/dd/yyyy"}}</p>
		<p>{{project.description}}</p>
		<button ng-click="removeProject($index)">&times;</button>
	</article>
</section>
