body {
	background: #1B1D1E;
	color: #5E6D70;
	font: 14px/1.4 'Roboto', sans-serif;
}

h1 {
	font-size: 3rem;
}

h2 {
	font-size: 2rem;
}

header, section {
	max-width: 1024px;
	margin: auto;
}

nav {
	text-align: center;
}

nav ul li {
	display: inline-block;
	color: #C13B00;
}

nav ul li:hover {
	color: #FF6600;
}
