body {
	background: #1B1D1E;
	color: #5E6D70;
	font: 14px/1.4 'Roboto', sans-serif;
}

h1 {
	color: #8FA6AB;
	font-size: 3rem;
	margin: 30px 0;
}

h2 {
	font-size: 2rem;
}

h3 {
	font-size: 1.2rem;
	color: #6F8185;
}

h1,h3 {
	text-transform: uppercase;
}

header, section {
	max-width: 1024px;
	margin: auto;
}

header, nav {
	text-align: center;
}

nav ul li {
	display: inline-block;
}

nav ul li a {
	display: block;
	font-size: 1.4rem;
	color: #C13B00;
	margin: 0 20px;
}

nav ul li a:hover {
	color: #FF6600;
}

section {
	padding: 30px;
}

section#form {
	margin-top: 30px;
	border: 3px solid #424E4F;
}

section#news, section#projects, section#testimonials {
	margin-top: 30px;
	background: #292C2E;
}

article {
	margin-top: 30px;
	padding-bottom: 30px;
	border-bottom: 1px solid #424E4F;
}

article:first-of-type {
	margin-top: 0;
}

